<launch>
    <!-- Load the URDF model -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find biped_s4)/urdf/biped_s4.urdf'" />

    <!-- Start the robot_state_publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- Optionally, start the joint_state_publisher GUI for manual joint control -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <param name="use_gui" value="true" />
    </node>

    <!-- Optionally, start RViz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find biped_s4)/config/robot_grasp_to_visual.rviz" />
</launch>
